.accesslistentry-Developer { color:purple;}
.accesslistentry-Superuser { color:blue;}
.accesslistentry-Advanced {color:green;}
.accesslistentry-Normal {color:black;}
.accesslistentry-Semi-ignored { color:orange;}
.accesslistentry-Ignored { color:red;}

