.accesslistentry-Developer, .commandlistentry-Developer{ color:purple;}
.accesslistentry-Superuser, .commandlistentry-Superuser { color:blue;}
.accesslistentry-Advanced, .commandlistentry-Advanced {color:green;}
.accesslistentry-Normal, .commandlistentry-Normal {color:black;}
.accesslistentry-Semi-ignored, .commandlistentry-Semi-ignored { color:orange;}
.accesslistentry-Ignored, .commandlistentry-Ignored { color:red;}

